/* Project 16 - picture 1 */
#annotation16-1{
top: 38%;
left: 64%;
width: 19%;
height: 17%;
}
#annotation16-1:hover .annotationPopup{
  visibility: visible;
}

/* Project 7 - picture 1 */

/* Project 6 - picture 1 */

/* Project 5 - picture 1 */

/* Project 4 - picture 1 */

/* Project 3 - picture 1 */

/* Project 2 - picture 1 */

/* Project 1 - picture 1 */